{# NAVBAR #}
<header class="fixed-top"> 
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
          <a class="navbar-brand" href="/homepage.html">
            <img src="./images/logo lcc.png"/>
          </a>
          <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse">
            <nav class="navbar-nav ml-auto">
              <ul>
                <li><a class="nav-link active" aria-current="page" href="#">Accueil</a></li>
                <li><a class="nav-link" href="#">Informations</a></li>
                <li><a class="nav-link" href="#">Connexion</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </header>   